/*--------------------------------------------------------------------*/
/* style.css                                                          */
/* Author: Kasey McFadden                                             */
/*--------------------------------------------------------------------*/

/* Custom fonts */

@font-face { font-family: Princeton; src: url('vendor/PrinceMontiDSOSRegular.ttf'); }

/* Global box-sizing for better responsiveness */

* {
  box-sizing: border-box;
}

/* Element rules */

td {
  padding-top: 1%;
  padding-bottom: 1%;
}

body {
  height: 100%;
  font-family: 'Roboto Mono';
  /* background-image: linear-gradient(270deg, #1b51c4, #128383); */
  background-size: 400% 400%;
  animation: AnimationName 9s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}

/*--------------------------------------------------------------------*/

/* Class rules */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.nameContainer {
  margin-bottom: 5px;
  max-width: 1000px; /* adjust the value as needed */
  height: auto;
}

.nameImage {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.nameText {
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 45px;
  font-weight: bolder;
}

.nameText:hover {
  /* color: rgba(255,255,255,0.7);  */
}

.bioContainer {
  margin-bottom: 10px;
}

.bioImage {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.btn {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  /* padding: 0.55rem 1.25rem; */
  margin-top: 10px;
  margin-inline: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 3px;
  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btnImage {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.btn:hover img{
  filter: invert(31%) sepia(74%) saturate(1990%) hue-rotate(192deg) brightness(93%) contrast(103%);
}

.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.main {
  font-family: 'Roboto Mono', monospace;
  display: block;
  text-align: center;
  margin: 1rem auto;
  max-width: 1000px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* border-radius: 10px; */
}

.infoImageContainer {
  /* width: 20%; */
  /* padding-right: 10px; */
  vertical-align: baseline;
  padding-left: 4%;
}

.infoImage {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.infoText {
  font-family: 'Roboto Mono', monospace;
  font-size:16px;
  font-weight: normal;
  padding-left:30px;
  padding-right:15px;
  width:85%;
  text-align:left;
  color:black;
  display:table-cell;
}

.linkText {
  color: #E65C63;
}

.linkText:hover {
  color: #e65c63c5;
  text-decoration: none;
}

.eduText {
  color: #f58025;
}

.proj {
  padding-bottom: 14px;
}

.projText {
  color: #00BC96;
  font-weight: bold;
}

.projText:hover {
  color: #00BC96c5;
  text-decoration: none;
}

/* Responsive font adjustments */

@media (max-width: 576px) {
  .nameText {
    font-size: 36px;
  }
  .bioText {
    font-size: 16px;
  }
}
