/*--------------------------------------------------------------------*/
/* style.css                                                          */
/* Author: Kasey McFadden                                             */
/*--------------------------------------------------------------------*/

/* Custom fonts */

@font-face { font-family: Princeton; src: url('vendor/PrinceMontiDSOSRegular.ttf'); }

/* Element rules */

td {
  padding-top: 1%;
  padding-bottom: 1%;
}

body {
  font-family: 'Roboto Mono';
  background-image: linear-gradient(270deg, #1b51c4, #128383);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  -o-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@keyframes AnimationName {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}

/*--------------------------------------------------------------------*/

/* Class rules */

.nameContainer {
  text-align: center;
  max-width: 100%; 
  position: relative; 
  margin-top: 8%;
}

.nameText {
  font-family: 'Roboto Mono', monospace;
  color: rgba(255,255,255,0.6); 
  font-size: 60px;
  font-weight: bolder;
  display: block;
}

.nameText:hover {
  color: rgba(255,255,255,0.7); 
}

.btn {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  padding: 0.55rem 1.25rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 3px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.btnContainer {
  text-align: center;
}

.main {
  font-family: 'Roboto Mono', monospace;
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.info {
  color: #956af8;
  width: 20%;
  vertical-align: baseline;
  text-align: left;
  padding-left: 4%;
  font-size: 18px;
  font-weight: bolder;
}

.infoText {
  font-family: 'Roboto Mono', monospace;
  font-size:16px;
  font-weight: normal;
  padding-left:10px;
  padding-right:15px;
  width:85%;
  text-align:left;
  color:rgba(255, 255, 255, 0.8);
  display:table-cell;
}

.linkText {
  color: #E65C63;
}

.linkText:hover {
  color: #e65c63c5;
  text-decoration: none;
}

.eduText {
  color: #f58025;
}

.proj {
  padding-bottom: 14px;
}

.projText {
  color: #00BC96;
  font-weight: bold;
}

.projText:hover {
  color: #00BC96c5;
  text-decoration: none;
}
